        <div id="footer">
            <div id="footer-inner">
                <p id="copyright">Copyright (c) <%= site.copyright.beginYear %>-<%= site.copyright.endYear %> <%- site.copyright.owner %></p>
            </div>
        </div>
        <% include footer_plugin %>
    </body>
</html>
